fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
geopandas
xarray
numpy
pandas
torch
torchvision
opencv-python
scikit-learn
requests
python-dotenv
shapely
rasterio
pyproj
cdsapi
copernicusmarine
scipy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]